<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzx.p2p.business.mapper.BidRequestAuditHistoryMapper">
    <resultMap id="BaseResultMap" type="com.zzx.p2p.business.domain.BidRequestAuditHistory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="bid_request_id" property="bidRequestId" jdbcType="BIGINT"/>
        <result column="audit_type" property="auditType" jdbcType="TINYINT"/>
        <association property="applier" javaType="com.zzx.p2p.base.domain.LoginInfo" columnPrefix="ap_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
        <association property="auditor" javaType="com.zzx.p2p.base.domain.LoginInfo" columnPrefix="au_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into `bid_request_audit_history` (state, remark, audit_time,
          apply_time, auditor_id, applier_id, bid_request_id, audit_type)
        values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP},
          #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT},
          #{bidRequestId,jdbcType=BIGINT}, #{auditType,jdbcType=TINYINT})
    </insert>

    <sql id="base_column">
        h.id, h.state, h.remark, h.audit_time, h.apply_time, h.bid_request_id, h.audit_type,
                ap.id as ap_id, ap.username as ap_username, au.id as au_id, au.username as au_username
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="base_column"/>
        from `bid_request_audit_history` h
        inner join `login_info` ap on h.applier_id = ap.id
        inner join `login_info` au on h.auditor_id = au.id
        where h.id = #{id,jdbcType=BIGINT}
    </select>
    <select id="listByBidRequest" resultMap="BaseResultMap">
        select
        <include refid="base_column"/>
        from bid_request_audit_history h
        inner join `login_info` ap on h.applier_id = ap.id
        inner join `login_info` au on h.auditor_id = au.id
        where h.bid_request_id = #{id}
    </select>
</mapper>